*{
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
#mainFrame{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: rgb(197, 224, 247);
    grid-template-columns: repeat(200,1fr);
    grid-template-rows:repeat(200,1fr);
    grid-gap: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.MenuBar{
    background-color: blueviolet;
    grid-column: 1/-1;
    grid-row: 1/19;
}
.PosBar{
    background-color:yellow;
    grid-column: 1/159;
    grid-row: 19/29;
}

#TreeViewOne{
    background-color: pink;
    grid-row: 19/-1;
    grid-column: 159/-1;

}

.ImgContainer{
background-color: burlywood;
display: flex;
flex-wrap: wrap;
grid-row: 29/179;
grid-column: 1/149;
}
.ImgContainer:hover{
    cursor:pointer;
}

.ShowContainer{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.AlgorithmStatus{
    background-color:red;
    grid-row: 29/179;
    grid-column: 149/159;
}
.ConnectStatus{
    background-color: grey;
    grid-row:179/189;
    grid-column: 1/159;

}
.DebugStatus{
    background-color: green;
    grid-row: 189/-1;
    grid-column: 1/159;
}